@import 'tailwindcss';

@theme {
	/* Primary color */
	--color-primary: #720026;

	/* Secondary color */
	--color-secondary: #4f000b;

	/* Accent color */
	--color-accent: #ce4257;

	/* Background and Light colors */
	--color-light: #f4f4f4;
	--color-lightest: #fafafa;

	/* Text and Dark colors */
	--color-dark: #2d0006;

	/* Neutral shades */
	--color-neutral: #b0b0b0;
	--color-neutral-light: #e0e0e0;

	/* Utility colors */
	--color-warning: #ffcc00;
	--color-success: #4caf50;
	--color-error: #f44336;

	/* Fonts */
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Playfair Display', serif;
}
